.settings__setting {
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 0.8rem;
  font-size: 1.3rem;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__setting:nth-child(3) {
  padding-bottom: 4rem;
}

.settings__setting-column,
.badge__small{
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
    
}
