.alt-header {
  margin-top: 2rem;
  padding: var(--horizontal-space);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
