.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 1rem;
}

.screen-header__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.screen-header__icon {
  position: relative;
}

.screen-header__icon span {
  margin-left: 1rem;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.screen-header__notification__cog {
  display: flex;
  position: absolute;
  right: -0.3rem;
  bottom: 1.1rem;
  background-color: tomato;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icon .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
